:root {
    /*cores do projeto*/
    --primary-color: #f0c9f1;
    --secundary-color:#000000;
    --Contrast-color:#fafafa;
    --placeholder-color:#f1f1f1;
    --text-highlight-color: #616161;
    --overlay-label-color: rgba(255, 255, 255, 0.6);

    /*bordas*/
    --large-radio-border:10px;
    --small-radio-border:5px;

    /*sombras*/
    --card-shadow: 0px 10px 10px rgba(0,0,0,0.1) ;
    --header-shadow: 0px 10px 10px rgba(0,0,0,0.1) ;


}
*{
    font-family: 'montserrat' ,'sams-serif';
    color: var(--secundary-color);
}

.header,
.section-header,
.footer {
background-color: var(--primary-color);
color: var(--Contrast-color);
}
h1, h2, h3 {
    margin: 0;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links, .navbar-close-icon{
    display: none;
}

.navbar-logo {
    font-size: 2rem;
    color:var(--Contrast-color) ;
    text-decoration: none;
}

.navbar-burger-icon{
    width: fit-content;
}

.container {
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
}
.content{
    margin-block: 15px;
}

.last-post{
    margin-bottom: 15px;
}

/*hack para cortar pra caber a imagem na box*/ 

.card figure {
    margin: 0;
    position: relative;
    height: 8px;
    padding-bottom: 52%;
    overflow: hidden;
    border-radius: var(--large-radio-border);

}

.card .card-image {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%,-50%) ;
}

.card-big .card-label {
    position: absolute;
    bottom: 0;
    padding: 20px 5%;
    font-size: 0.875rem;
    background-color: var(--overlay-label-color);
    width: 90%;
    opacity: 0.4;
    transition: all .5s;
}
.card-big .card-label:hover {
    opacity: 1;
}
.card-big .card-label h3 {
    font-size: 1.5rem;
}
.section-header {
    border-radius: var(--small-radio-border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    height: 28px;
    margin-bottom: 15px;
}
.HTML.IMAGE{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header h2 {
    font-size: 0.875rem;
    color: var(--Contrast-color);
}
.section-header a {
    font-size: 0.625rem;
    color: var(--Contrast-color);
}

.section-header-link {
    justify-content: space-between;
}
.card-medium {
    box-shadow: var(--card-shadow);
    border-radius: var(--large-radio-border);
}

.card-medium .card-label {
    font-size: 0.875rem;
    padding: 12px 12px 40px 12px;
}

.card-medium .card-label h3 {
    font-size: 1.25rem;
}
.card-medium .card-label p {
    margin-block: 10px;
}

.card-medium .card-category {
    color: var(--primary-color);
}

.card-medium .card-author,
.card-medium  time {
    color: var(--text-highlight-color);
}

.all-posts-grid {
    display: grid;
    gap: 16px;
}
.popular-post, .categories{
    display: none;
}

.footer,
.footer.container,
.footer span {
    height: 48px;
    font-weight: 600;
    color: var(--Contrast-color);
}

.footer span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    list-style: none;
    align-items: center;
    height: 100%;
    padding: 0;
    font-weight: 600;
    color:var(--Contrast-color);
    text-decoration: none;
}
.navbar-links li {
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 10px;
    cursor: pointer;
    transition: all .4s;
}
.navbar-links li a {
    font-weight: 600;
    color: var(--Contrast-color);
    text-decoration: none;
}

.card-small {
    box-shadow: var(--card-shadow);
    background-color: var(--Contrast-color);
    border-radius: var(--large-radio-border);
    display: flex;
    padding: 10px;
    gap: 10px;
}

.card-small figure {
    width: 115px;
    height: 54px;
    padding: 0;
}

.card-small h3 {
    font-size: 0.875rem;
}
.card-small time {
    font-size: 0.75rem;
}

.popular-post-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-small:last-child {
    display: none;
}

.categories-list {
    /*list-style: "> ";*/
    padding: 0;
    font-weight: 600;
}

.categories-list .list-item {
    display: flex;
    justify-content: space-between;
}

.categories-list .list-item label::before {
    content: "> ";
}

.navbar-search-bar{
    display: none;
    width: 320px;
    position: relative;
}

.search-bar-input {
    width: 100%;
    background-color: var(--placeholder-color);
    border: none;
    outline: none;
    padding-inline: 10px;
    height: 46px;
    border-radius: var(--large-radio-border) 0 0 var(--large-radio-border);
    color: var(--text-highlight-color);
}

.search-bar-input:focus {
    color: var(--secundary-color);
}

.search-bar-button {
    height: 48px;
    width: 40px;
    background-color: var(--placeholder-color);
    border-radius: 0 var(--large-radio-border) var(--large-radio-border) 0;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}

/*usar midia para as alteraçoes*/

@media screen and (min-width: 768px){
    .container{
        padding-inline: 40px;
    }
    .content{
        padding-block: 20px;
    }
    .last-post,
    .section-header{
        margin-bottom: 20px;
    }
    .section-header{
        border-radius: var(--large-radio-border);
        height: 48px;
        padding-inline: 22px;
    }

    .navbar-logo {
        font-size: 2.25rem;
    }

    .card-big .card-label {
        font-size: 1rem;
    }
    .card-big .card-label h3 {
        font-size: 2rem;
    }
    .section-header h2 {
        font-size: 1.25rem;
    }
    .section-header a {
        font-size: 0.875;
    }
    .all-posts-grid {
        grid-template-columns: repeat(2, 1fr) ;
    }
    
}

@media screen and (min-width: 1024px) {
    .last-post {
        grid-area: lp;
    }
    .all-post {
        grid-area: ap;
    }
    .popular-post {
        grid-area: pp;
    }
    .categories {
        grid-area: ct;
        display: block;
    }

    .content .container {
        display: grid;
        column-gap: 16px;
        grid-template-areas: 
            "lp pp"
            "ap ct";

    }
    
    .navbar-burger-icon {
        display: none;
    }
    .navbar-links {
        display: flex;
    }

    .content {
        padding-block: 26px;
    }

    .last-post,
    .section-header {
        margin-block: 24px;
    }

    .navbar-links li.active,
    .navbar-links li:hover:not(:last-child){
        background-color: var(--Contrast-color);
        border-radius: var(--large-radio-border) var(--large-radio-border) 0 0;
    }

    .navbar-links li.active a,
    .navbar-links li:hover a {
        color: var(--secundary-color);
    }

}

@media screen and (min-width: 1280px ) {
    .content {
        padding-block: 50px;
    }

    .all-posts-grid {
        gap: 24px;
    }

    .card-small:last-child{
        display: flex;
    }

    .card-small figure {
        width: 120px;
        height: 64px;
    }

}
    
